body {
	background: white;
	color: #666666;
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default;
	font-size: em(14,16);
}

a{
	text-decoration: none;
}