
.logo {
	float: left;
	display: inline-block;

	h1 {
		float: left;
		background: #e5454f;
		margin: 0;
		position: relative;
		left: -27px;
		padding: 20px 28px 22px 28px;
	} 

}
.logo__link {
	color: white;
	width: 106px;
	height: 29px;
	text-indent: -9999em;
}